/* body {
    background-color: black;
    color: F6F6F6;
} */

/* body {
    background-color: black;
    color: #F6F6F6;
} */

/* body {
    background-color: purple;
    color: #00ffff;
} */

body {
    background-color: #000000;
    color: #F6F6F6;
}

strong {
    color: #22D4FD;
}

h1{
    font-weight: bold;
}

span{
    color: #22D4FD;
    border: 1px solid #22D4FD;
    padding: 10px;
}